.nav{
    background-color: #60042E  !important  ;
    padding: 2em .5em;
    /* padding-bottom: 0em; */
    color: white !important;

}
#navbarList{
    background-color: #60042E;
    font-size: 1.2em;
    animation: fade .5s linear forwards;
    color: white !important;
    overflow: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 6em;
    z-index: 2;
}
.navbar-burger{
    color: white !important;
}
.link{
    color:white;
}
.link:hover{
    color: white;
    padding-bottom: 8.6px;
}
.logo{
    float: left;
    position: relative;
    left: -1em;
    top: -.6em;
    color:white !important;
    max-width: 150px;
}

@media only screen and (min-width: 1024px) {
    #navbarList{
        background-color: #60042E;
        display: block;
        padding-bottom: 1em;
        position: relative;
        
    }
    .nav{
        background-color: #60042E  !important  ;
        padding: 2em .5em;
        /* padding-bottom: 5.5em; */
        color: white !important;
        height: 15%;
    
    }
    .logo{
        float: left;
        position: relative;
        left: -1em;
        top: -.6em;
        color:white !important;
        max-width: 150px;
    }
  }
